.body {
  font-family: Courier;
}

.item1 { 
  grid-area: header;
  text-align: center;
  color: #ddd;
  font-size: 50px;
  font-family: Courier;
  background-color: #123;
}

.name {
  font-weight: bold;
  margin: 40px;
}

.profile-image {
  width: 200px;
  height: 200px;
  align: center;
  border-radius: 75%;
  border: 8px solid; 
  border-color: #222527;
  margin: 35px;
}

.item2 { 
  grid-area: side;
  text-align: center;
  color: #D6DBDF;
  font-size: 15px;
  font-family: Courier;
  background-color: #123;
}

.item3 { 
  grid-area: main;
  text-align: center;
  font-size: 20px;
  font-family: Courier;
  background-color: #123;
}

.sidetext {
  margin: 7px;
  font-family: Courier;
}


.grid-container {
  display: grid;
  grid-template-areas:
    'side header header header header header'
    'side main main main main main';
  gap: 5px;
  background-color: #ddd;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 10px 0;
}

.slogan {
  text-align: center;
  font-size: 17px;
  font-family: Courier;
  font-weight: bold;
  margin: 7px;
}

.envelope {
  float: left;
  width: 20px;
  height: 15px;
}

.phone {
  float: left;
  width: 20px;
  height: 21px;
}

.pin {
  float: left;
  width: 14px;
  height: 21px;
}

.dumbbell {
  float: left;
  width: 23px;
  height: 20px; 
}

.largeheader {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: #ddd;
  margin: 0 20px;
}

.header2 {
  text-align: left;
  font-size: 25px;
  font-weight: bold;
  color: #ddd; 
  margin: 0% 20px;
}

.header3 {
  font-size: 20px;
  text-align: left;
  color: #ddd;
  margin: 0% 20px;
}

.header4 {
  font-size: 18px;
  text-align: left;
  color: #ddd;
  margin: 0% 20px;
}

.list{
  font-size: 15px;
  text-align: left;
  font_family: Courier New;
  color: #ddd;
  margin: 0% 20px;
}
