.item1 { 
  grid-area: header;
  text-align: center;
  color: #ddd;
  font-size: 50px;
  font-family: Courier;
  background-color: #123;
}

.name {
  margin: 20px;
}

.profile .profile-image {
    width: 100%;
    align: center;
    border-radius: 50%;
    border: 8px solid #222527;
    margin: 50px;
}

.item2 { 
  grid-area: side;
  text-align: center;
  color: #D6DBDF;
  font-size: 15px;
  font-family: Courier;
  background-color: #123;
}

.item3 { 
  grid-area: main;
  text-align: center;
  font-size: 20px;
  font-family: Courier;
  background-color: #123;
}

.sidetext {
  margin: 7px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'side header header header header header'
    'side main main main main main';
  gap: 5px;
  background-color: #ddd;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 10px 0;
}

.slogan {
  text-align: center;
  font-size: 18px;
  font-family: Courier new;
}

.largeheader {
  text-align: center;
  font-size: 35px;
  color: #ddd;
  margin: 0 20px;
}

.header2 {
  text-align: left;
  font-size: 25px;
  color: #ddd; 
  margin: 0% 20px;
}

.header3 {
  font-size: 20px;
  text-align: left;
  color: #ddd;
  margin: 0% 20px;
}

.header4 {
  font-size: 18px;
  text-align: left;
  color: #ddd;
  margin: 0% 20px;
}

.list{
  font-size: 15px;
  text-align: left;
  color: #ddd;
  margin: 0% 20px;
}
